@using DojoSurveyWithValidation.Models
@model Result

<div>
    <h1><u>Submitted Info</u></h1>

    <p>Name: @Model.YourName</p> 
    <p>Dojo Location: @Model.DojoLocation</p> 
    <p>Favorite Language: @Model.FavoriteLanguage</p> 
    <p>Comment: @Model.Comment</p> 
</div>